$green:        #73ad43
$pink:         #ff00a2
$blue:         #00d4ff
$black:        #191818
$white:        #fafbe9
$grey:         #e0e0e0
$dark-grey:   lighten($black, 25%)
$medium-grey: lighten($black, 50%)
