@import "base"
//@import "github_badge"
//@import "sponsors"

+blueprint-grid

body
  background: black
  +blueprint-typography(true)

.container
  +container

#main
  margin-top: 0px
  z-index: 5

section
  +clearfix

#teaser
  background-color: black
  //+background-image(linear-gradient($dark-carmine, $carmine))
  text-align: center

  +prepend(1)

  img
    margin-top: 100px

  h1
    font-size:   6em
    font-weight: bold
    font-style:  italic

h2, h3
  text-transform: lowercase
