%footer#footer
  = link_to 'http://jrubyconf.eu', :title => 'JRubyConf.eu', :class => 'twin' do
    %small In collaboration with the JRuby team, also presenting
    %img(src="/images/layout/footer/jrubyconf_logo.png" alt="JRubyConf.eu logo")
  = partial 'partials/primary_navigation'
  = partial 'partials/secondary_navigation'

  %ul.links
    %li.twitter
      %a(href="https://twitter.com/eurucamp" title="eurucamp on Twitter") @eurucamp
    %li.lanyrd
      %a(href="http://lanyrd.com/2012/eurucamp" title="eurucamp on Lanyrd") Lanyrd
    %li.facebook
      %a(href="https://www.facebook.com/eurucamp" title="Eurucamp on Facebook") Facebook
    %li.google-plus
      %a(href="https://plus.google.com/114984140580239329274" title="Eurucamp on Google+" rel="publisher") Google+

  %script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAOu7SQll9IyZ_csBrwRS7WBh-6by8_IQE&sensor=true")
