= partial 'partials/primary_navigation'
= partial 'partials/secondary_navigation'

%ul.links
  %li.twitter
    %a(href="https://twitter.com/eurucamp" title="Eurucamp on Twitter") @eurucamp
  %li.lanyrd
    %a(href="http://lanyrd.com/2012/eurucamp" title="Eurucamp on Lanyrd") Eurucamp

= link_to 'JRubyConf.eu', '#', :class => 'twin'
= partial 'partials/analytics'
