%h1
  = link_to '/' do
    = image '/images/layout/header/logo.png', [360, 1024], :alt => "Eurucamp 2012"

- unless request.path == '/index.html'
  %p.date
    %strong 17 - 19 August 2012
    Berlin

= partial 'partials/primary_navigation'
