%h1
  = link_to '/' do
    - sizes = request.path =~ /index/ ? [360, 1280] : [360]
    = image '/images/layout/header/logo.png', sizes, :alt => "Eurucamp 2012"

= partial 'partials/primary_navigation'
