%table(cellpadding="0" cellspacing="0")
  %colgroup
    %col(width="*")
    %col(width="10%")
    %col(width="10%")
    %col(width="10%")
  %thead
    %tr
      %th &nbsp;
      %th
        Kastanien
      %th
        Linden
      %th
        Birken
  %tbody
    %tr
      %td.first &nbsp;
      %td
        &euro;4,000
      %td
        &euro;2,000
      %td
        &euro;500
    %tr.divider
      %td(colspan="4") &nbsp;
    %tr
      %td.first
        %strong Number of sponsorship opportunities
      %td
        3 / 2
      %td
        6 / 3
      %td
        Unlimited
    %tr.divider
      %td(colspan="4") &nbsp;
    %tr
      %td.first
        %strong Registration (passes) included
      %td
        4
      %td
        2
      %td
        1
    %tr
      %td.first
        %strong Discount on additional passes
      %td
        50%
      %td
        40%
      %td
        20%
    %tr.divider
      %td(colspan="4") &nbsp;
    %tr
      %th(colspan="4")
        %em On the website
    %tr
      %td.first
        Your logo and link
      %td.check
        ✓
      %td.check
        ✓
      %td.check
        ✓
    %tr
      %td.first
        %strong Detailed profile on your company
      %td.check
        ✓
      %td.cross
        ✕
      %td.cross
        ✕
    %tr
      %td.first
        %strong Featured blog article on your company
      %td.check
        ✓
      %td.cross
        ✕
      %td.cross
        ✕
    %tr.divider
      %td(colspan="4") &nbsp;
    %tr
      %th(colspan="4")
        %em On twitter
    %tr
      %td.first
        %strong A tweet before the day
      %td.check
        ✓
      %td.check
        ✓
      %td.check
        ✓
    %tr
      %td.first
        %strong A 'brought to you by' tweet on the day of the event
      %td.check
        ✓
      %td.check
        ✓
      %td.cross
        ✕
    %tr.divider
      %td(colspan="4") &nbsp;
    %tr
      %th(colspan="4")
        %em On the conference day
    %tr
      %td.first
        %strong A mention on the conference day
      %td.check
        ✓
      %td.check
        ✓
      %td.check
        ✓
    %tr
      %td.first
        %strong A 5 minute talk before the keynote
      %td.check
        ✓
      %td.cross
        ✕
      %td.cross
        ✕
    %tr
      %td.first
        %strong Your logo on the conference bag
      %td.check
        ✓
      %td.check
        ✓
      %td.check
        ✓
    %tr
      %td.first
        %strong Items you can distribute in bags
      %td
        Unlimited
      %td
        2
      %td
        1
    %tr
      %td.first
        %strong Conference display stand
      %td.check
        ✓
      %td.cross
        ✕
      %td.cross
        ✕
    %tr
      %td.first
        %strong Banner in main conference space
      %td
        Large
      %td
        Medium
      %td.cross
        ✕
    %tr
      %td.first
        %strong Space to distribute freebies
      %td.check
        ✓
      %td.check
        ✓
      %td.check
        ✓
