%table(cellpadding="0" cellspacing="0")
  %thead
    %tr
      %th.first &nbsp;
      %th.kastanien(colspan="2")
        %img(src="/images/content/sponsors/prospect/kastanie.png" alt="Leave of chestnut tree")
        Kastanien
      %th.linden(colspan="2")
        %img(src="/images/content/sponsors/prospect/linde.png" alt="Leave of linden tree")
        Linden
      %th.birken
        %img(src="/images/content/sponsors/prospect/birke.png" alt="Leave of birch tree")
        Birken
  %tbody
    %tr
      %td.first &nbsp;
      %td.kastanien(colspan="2")
        &euro;4,000
      %td.linden(colspan="2")
        &euro;2,000
      %td.birken
        &euro;500
    %tr.divider
      %td(colspan="6") &nbsp;
    %tr
      %td.first
        %strong Number of sponsorship opportunities
      %td.kastanien.half
        3
      %td.kastanien.half.secondary
        2
      %td.linden.half
        6
      %td.linden.half.secondary
        3
      %td.birken
        Unlimited
    %tr.divider
      %td(colspan="6") &nbsp;
    %tr
      %td.first
        %strong Registration (passes) included
      %td.kastanien(colspan="2")
        4
      %td.linden(colspan="2")
        2
      %td.birken
        1
    %tr
      %td.first
        %strong Discount on additional passes
      %td.kastanien(colspan="2")
        50%
      %td.linden(colspan="2")
        40%
      %td.birken
        20%
    %tr
      %th(colspan="6")
        On the website
    %tr
      %td.first
        %strong Your logo and link
      %td.kastanien.check(colspan="2")
        &#x2713;
      %td.linden.check(colspan="2")
        &#x2713;
      %td.birken.check
        &#x2713;
    %tr
      %td.first
        %strong Detailed profile on your company
      %td.kastanien.check(colspan="2")
        &#x2713;
      %td.linden.cross(colspan="2")
        &#x2715;
      %td.birken.cross
        &#x2715;
    %tr
      %td.first
        %strong Featured blog article on your company
      %td.kastanien.check(colspan="2")
        &#x2713;
      %td.linden.cross(colspan="2")
        &#x2715;
      %td.birken.cross
        &#x2715;
    %tr
      %th(colspan="6")
        On twitter
    %tr
      %td.first
        %strong A tweet before the day
      %td.kastanien.check(colspan="2")
        &#x2713;
      %td.linden.check(colspan="2")
        &#x2713;
      %td.birken.check
        &#x2713;
    %tr
      %td.first
        %strong A 'brought to you by' tweet on the day of the event
      %td.kastanien.check(colspan="2")
        &#x2713;
      %td.linden.check(colspan="2")
        &#x2713;
      %td.birken.cross
        &#x2715;
    %tr
      %th(colspan="6")
        On the conference day
    %tr
      %td.first
        %strong A mention on the conference day
      %td.kastanien.check(colspan="2")
        &#x2713;
      %td.linden.check(colspan="2")
        &#x2713;
      %td.birken.check
        &#x2713;
    %tr
      %td.first
        %strong A 5 minute talk before the keynote
      %td.kastanien.check(colspan="2")
        &#x2713;
      %td.linden.cross(colspan="2")
        &#x2715;
      %td.birken.cross
        &#x2715;
    %tr
      %td.first
        %strong Your logo on the conference bag
      %td.kastanien.check(colspan="2")
        &#x2713;
      %td.linden.check(colspan="2")
        &#x2713;
      %td.birken.check
        &#x2713;
    %tr
      %td.first
        %strong Items you can distribute in bags
      %td.kastanien(colspan="2")
        Unlimited
      %td.linden(colspan="2")
        2
      %td.birken
        1
    %tr
      %td.first
        %strong Conference display stand
      %td.kastanien.check(colspan="2")
        &#x2713;
      %td.linden.cross(colspan="2")
        &#x2715;
      %td.birken.cross
        &#x2715;
    %tr
      %td.first
        %strong Banner in main conference space
      %td.kastanien(colspan="2")
        Large
      %td.linden(colspan="2")
        Medium
      %td.birken.cross
        &#x2715;
    %tr
      %td.first
        %strong Space to distribute freebies
      %td.kastanien.check(colspan="2")
        &#x2713;
      %td.linden.check(colspan="2")
        &#x2713;
      %td.birken.check
        &#x2713;
