= nav ['RSS'], :class => 'secondary-navigation rss', :path => "/feed.xml", :type => "application/atom+xml", :rel => "alternate", :title => "ATOM"
= nav ['Policies', 'Blog', 'Imprint'], :class => 'secondary-navigation'

