body.blog
  article
    section.articles
      +padded

      .wrapper > ul
        +unlisted

        & > li
          border-bottom: 1px dotted $grey
          +clearfix
          margin-bottom: 2em

          &:last-child
            border: none

      h3
        margin-bottom: 0
        +custom-sans(light)
        +no-caps

      .meta
        margin-top: 0
        color: $medium-grey
        +custom-sans(normal, false)

        span.author
          display: inline

        ul.tags
          +unlisted
          margin: 0.5em 0 0 0

          li
            background: $grey
            display: inline-block
            +border-radius(1em)
            +caps
            font-size: 0.8em
            padding: 0 0.5em 0.15em


  +respond-to(tablet-lite)
    article
      section.articles
        padding: 1em 0
        +clearfix

        ul
          li
            h3
              margin-left: 20%

            .meta
              float: left
              width: 20%
              margin: 1em 0 0 0

              span.author
                display: block

              small
                display: block
                margin: 0 2em 0 0

            .block
              float: right
              width: 80%


  +respond-to(tablet-portrait)
    article
      section.articles
        ul
          li
            .block
              padding-right: 20%
              width: 60%


  +respond-to(tablet-landscape)
    article
      section.articles
        ul
          li
            .block
              padding-right: 25%
              width: 55%
