body.index
  @import "index/speakers"
  @import "index/attendees"
  @import "index/sponsors"
  @import "index/twitter_feed"

  #header
    z-index: 1000

  article
    position: relative

    & > header
      padding: 0.5em 0 1em 0
      margin-top: -1em
      overflow: hidden

      strong,
      span
        display: block
        background: transparentize($pink, 0.25)
        color: $white
        text-align: center
        font-size: 1.5em
        width: 110%
        margin-left: -5%
        line-height: 1.2em
        +box-shadow(3px 3px 1px 0 transparentize($black, 0.9))
        +transform(rotate(-3deg))

      strong
        z-index: 50
        position: relative
        padding-bottom: 0.25em

      span
        +custom-sans
        display: block
        z-index: 40
        margin-top: -0.5em
        padding-left: 25%
        +transform(rotate(4deg))


  +respond-to(tablet-landscape)
    #main
      padding: 0 1em

    article
      header
        display: none


  +respond-to(desktop)
    #main
      padding: 0
