body.index
  @import "index/speakers"
  @import "index/attendees"
  @import "index/sponsors"
  @import "index/twitter_feed"

  #header
    z-index: 1000

  article
    position: relative

    & > header
      padding: 0.5em 0 1em 0
      margin-top: -1em
      overflow: hidden

      strong,
      span
        display: block
        background: transparentize($pink, 0.25)
        color: $white
        text-align: center
        font-size: 1.5em
        width: 100%
        margin-left: -5%
        line-height: 1.2em
        +box-shadow(3px 3px 1px 0 transparentize($black, 0.9))
        +transform(rotate(-3deg))

      strong
        z-index: 50
        position: relative
        padding: 0 5% 0.25em 15%
        margin-left: -15%

      span
        +custom-sans
        display: block
        z-index: 40
        padding: 0 0% 0 20%
        margin: -0.5em 0 0 -10%
        +transform(rotate(4deg))


  +respond-to(tablet-landscape)
    #main
      padding: 0

    article
      header
        overflow: visible
        display: block
        text-align: center
        width: 300%
        +brand-stripe
        background: transparentize($pink, 0.25)
        margin: 0 0 0 -100%
        z-index: 0

        strong,
        span
          display: inline
          background: none
          padding: 0
          margin: 0
          +transform(rotate(0))
          +box-shadow(0 0 0 0 white)
