body.sponsors
  article
    header
      +padded

    section.sponsors-listing

      h4
        border-bottom: 1px dotted $grey
        .wrapper
          margin: 0
      ul
        +unlisted
        +clearfix

        li
          +padded
          float: left
          width: 100%

          a
            display: block

            img
              width: 100%


    section.prospectus
      +padded

    section.prospectus-table
      clear: both
      background: lighten($grey, 10%)
      border-top: 1px dotted $grey
      +padded

      .wrapper
        +clearfix

      table
        width: 100%
        border: none

        tr
          td, th
            border-bottom: 1px solid $grey
            text-align: center
            padding: 0.75em 0
            width: 20%
            font-weight: bold
            color: $green
            font-size: 0.9em
            line-height: 1em
            border-left: 1px dotted $grey
            +custom-sans(normal, false)

            &.half
              width: 10%

            &.first
              text-align: left
              width: auto
              color: $medium-grey
              padding-right: 1em
              border-left: none

              strong
                font-weight: normal

            &.check
              color: $green

            &.cross,
            &.secondary
              color: $red

            &.kastanien
              background: lighten($green, 45%)

            &.linden
              background: lighten($green, 50%)

          &.divider
            td
              font-size: 0.75em
              padding: 0
              border-left: none

        thead
          th
            +custom-sans(bold)
            color: $brand-2
            font-size: 1.25em
            vertical-align: bottom

            img
              display: block
              width: 100%
              max-width: 120px
              margin: 0 auto 1em

        tbody
          th
            padding: 2em 1em 0.5em
            +custom-sans(bold)
            color: $brand-2
            font-size: 1.1em
            font-style: normal
            border-left: none


  +respond-to(mid-range)
    article
      section
        &.sponsors-listing
          .kastanien
            ul
              li
                width: 50%

          .linden,
          .birken
            ul
              li
                width: 33.33333%


  +respond-to(tablet-lite)
    article
      section
        &.sponsors-listing
          width: 50%
          float: right

          .linden,
          .birken
            ul
              li
                width: 50%

        &.prospectus
          width: 50%
          float: left


  +respond-to(tablet-portrait)
    article
      section
        &.prospectus-table

