section.attendees
  +padded

  h3
    +sticky

  ul
    clear: left
    +unlisted
    +clearfix

    li
      float: left
      width: 50%
      position: relative

      img
        width: 100%
        display: block

      div.pixel
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        display: none
        opacity: 0.9

    &:hover
      li
        div.pixel
          display: block

  p.more
    +more


  +respond-to(low-end)
    ul
      li
        width: 25%


  +respond-to(mid-range)
    ul
      li
        width: 20%


  +respond-to(smartphone-portrait)
    ul
      li
        width: 10%


  +respond-to(tablet-lite)
    width: 50%
    float: left
    margin: 0

    ul
      li
        width: 12.5%


  +respond-to(tablet-landscape)
    width: 50%

    ul
      li
        width: 10%
