section.highlights
  +padded
  +clearfix
  background: white
  z-index: 0
  position: relative

  .wrapper
    margin-bottom: 0

  ul
    +clearfix
    +unlisted
    font-size: 1.1em
    padding: 1em 0

    li
      margin-bottom: 1em

      span
        display: block
        color: $medium-grey
        +transition(color 0.5s)
        text-align: center
        +custom-sans(bold, false)
        +text-shadow(0 1px 0 white)

        br
          display: none


  +respond-to(smartphone-portrait)
    ul
      padding: 1em 0


  +respond-to(tablet-lite)
    ul
      li
        width: 33.33333%
        float: left

        span
          padding: 1em 0
          border-right: 1px dotted $grey


          br
            display: inherit

        &.spare-time
          span
            border: none


  +respond-to(tablet-landscape)
    background: white
    +at-night
      background: $black
      border-color: $black

    ul
      li
        span
          color: $medium-grey
          +at-night
            color: $white
            +no-text-shadow
            border-color: $dark-grey
