article
  section.twitter-feed
    +padded
    +clearfix

    .wrapper
      background: url(/images/content/twitter_feed/icon.png) no-repeat center top

    h3
      +custom-sans(bold)
      text-align: center
      border-bottom: 1px solid $grey
      color: $grey
      padding: 55px 0 0.5em 0


    ul
      +unlisted
      color: lighten($black, 55%)
      font-size: 0.9em

      li
        margin-bottom: 1em

        & > a
          display: block
          font-size: 0.8em

    .tweets > a
      display: block
      border-top: 1px dotted $grey
      margin: 1em 0 0 0
      padding: 0.75em 0 0.5em 0
      text-align: center


    +respond-to(tablet-lite)
      width: 50%
      float: right

