---
title: Pricing details
date: 2012-07-09
tags: pricing
author: Alex Coles
body_class: article pricing
published: false
---

:markdown
  Some markdown here

%section.pricing-info
  %ul.legend
    %li
      %span Friday
    %li
      %span Saturday
    %li
      %span Sunday
  %ul.pricing
    %li.all
      %strong &euro;99
      %span
        All eurucamp + JRubyConf sessions
    %li.only-eurucamp
      %strong &euro;66
      %span
        Only eurucamp sessions
    %li.only-jrubyconf
      %strong &euro;50
      %span
        Only JRubyConf sessions
    %li.workshops
      %strong Free
      %span
        Beginners’ workshops

:markdown
  More markdown here
