---
title: Last Minute Tickets pricing details
date: 2012-08-03
tags: pricing
author: Alex Coles
body_class: article pricing
published: true
---

:markdown
  A small batch of Last Minute tickets is now available.

  READMORE
  
  Prices are as follows, excluding VAT:

%section.pricing-info
  %ul.legend
    %li
      %span Friday
    %li
      %span Saturday
    %li
      %span Sunday
  %ul.pricing
    %li.all
      %strong &euro;149
      %span
        All eurucamp + JRubyConf sessions
    %li.only-eurucamp
      %strong &euro;99
      %span
        eurucamp main sessions
    %li.only-jrubyconf
      %strong &euro;75
      %span
        JRubyConf / advanced
    %li.workshops
      %strong Free
      %span
        Beginners’ workshops

:markdown

  But by German law, we're meant to show you the prices with VAT (sales tax) –
  which we forgot to do [last time around][last time]! - _sorry!_
  Including VAT, the prices are as follows:

  1. €99 + €19.42 = **€118.42** to attend the main eurucamp sessions
     _(Friday evening – Sunday afternoon)_
  2. €75 + €14.75 = **€89.75** for [JRubyConf EU][jrubyconfeu] _or_ our advanced workshops _(Friday daytime)_
  3. €149 + €29.16 = **€178.16** to attend everything
     _(Friday morning – Sunday afternoon)_
  4. And Beginners’ are always **FREE** _(Friday daytime)_

  _So, what are you waiting for?_

  * [to register for eurucamp main sessions](http://eurucamp2012.eventbrite.com/)
  * [to register for Beginners' workshops](https://docs.google.com/spreadsheet/viewform?pli=1&formkey=dEdJNzE2MHBPaVBzVnliNXR3NnhOa1E6MQ#gid=0)

  [last time]:http://2012.eurucamp.org/2012/07/05/ticket-sales-begin-monday
