%table{:border => "1", :cellpadding => "0", :cellspacing => "0"}
  %tr
    %td{:colspan => "6"}
      %p
        %span
    %td{:colspan => "3"}
      %p{:align => "center"}
        %span
          %b
            %span kastanien
        %span
    %td{:colspan => "3"}
      %p{:align => "center"}
        %b
          %span linden
        %span
    %td{:width => "81"}
      %p{:align => "center"}
        %b
          %span birken
        %span
  %tr
    %td{:colspan => "6"}
      %p
        %span
    %td{:colspan => "3"}
      %p{:align => "center"}
        %span €4,000
        %span
    %td{:colspan => "3"}
      %p{:align => "center"}
        %span €2,000
        %span
    %td{:width => "81"}
      %p{:align => "center"}
        %span €500
        %span
  %tr
    %td{:colspan => "6"}
      %p
        %span
    %td{:colspan => "3"}
      %p
        %span
    %td{:colspan => "3"}
      %p
        %span
    %td{:width => "81"}
      %p
        %span
  %tr
    %td{:colspan => "6"}
      Number of sponsorship opportunities
    %td{:colspan => "2"}
      %p{:align => "center"}
        %b
          %span 3
        %span
    %td{:width => "38"}
      %p{:align => "center"}
        %b
          %span 2
        %span
    %td{:colspan => "2"}
      %p{:align => "center"}
        %b
          %span 6
        %span
    %td{:width => "38"}
      %p{:align => "center"}
        %b
          %span 3
        %span
    %td{:width => "81"}
      %p{:align => "center"}
        %span
          %b
            %span unlimited
        %span
  %tr
    %td{:colspan => "6"}
      %p
        %span
    %td{:colspan => "3"}
      %p
        %span
    %td{:colspan => "3"}
      %p
        %span
    %td{:width => "81"}
      %p
        %span
  %tr
    %td{:colspan => "6"}
      Registration (passes) included
    %td{:colspan => "3"}
      %p{:align => "center"}
        %b
          %span 4
        %span
    %td{:colspan => "3"}
      %p{:align => "center"}
        %b
          %span 2
        %span
    %td{:width => "81"}
      %p{:align => "center"}
        %b
          %span 1
        %span
  %tr
    %td{:colspan => "6"}
      Discount on additional passes
    %td{:colspan => "3"}
      %p{:align => "center"}
        %span 50&nbsp;%
        %span
    %td{:colspan => "3"}
      %p{:align => "center"}
        %span 40&nbsp;%
        %span
    %td{:width => "81"}
      %p{:align => "center"}
        %span 20&nbsp;%
        %span
  %tr
    %td{:colspan => "6"}
      %p
        %span
    %td{:colspan => "3"}
      %p
        %span
    %td{:colspan => "3"}
      %p
        %span
    %td{:width => "81"}
      %p
        %span
  %tr
    %td{:colspan => "13"}
      %p{:align => "center"}
        %b
          %span
            on
            %span the
            %span website
        %span
  %tr
    %td{:colspan => "6"}
      Your logo and link
    %td{:colspan => "3", :valign => "bottom"}
      %p{:align => "center"}
        %span ✓
        %span
    %td{:colspan => "3", :valign => "bottom"}
      %p{:align => "center"}
        %span ✓
        %span
    %td{:valign => "bottom"}
      %p{:align => "center"}
        %span ✓
        %span
  %tr
    %td{:colspan => "6"}
      Detailed profile on your company
    %td{:colspan => "3", :valign => "bottom"}
      %p{:align => "center"}
        %span ✓
        %span
    %td{:colspan => "3", :valign => "bottom"}
      %p{:align => "center"}
        %span ✕
        %span
    %td{:valign => "bottom"}
      %p{:align => "center"}
        %span ✕
        %span
  %tr
    %td{:colspan => "6"}
      Featured blog article on your company
    %td{:colspan => "3", :valign => "bottom"}
      %p{:align => "center"}
        %span ✓
        %span
    %td{:colspan => "3", :valign => "bottom"}
      %p{:align => "center"}
        %span ✕
        %span
    %td{:valign => "bottom"}
      %p{:align => "center"}
        %span ✕
        %span
  %tr
    %td{:colspan => "6"}
      %p
        %span
    %td{:colspan => "3"}
      %p
        %span
    %td{:colspan => "3"}
      %p
        %span
    %td{:width => "81"}
      %p
        %span
  %tr
    %td{:colspan => "13"}
      %p{:align => "center"}
        %b
          %span
            on
            %span twitter
        %span
  %tr
    %td{:colspan => "6"}
      A tweet before the day
    %td{:colspan => "3", :valign => "bottom"}
      %p{:align => "center"}
        %span ✓
        %span
    %td{:colspan => "3", :valign => "bottom"}
      %p{:align => "center"}
        %span ✓
        %span
    %td{:valign => "bottom"}
      %p{:align => "center"}
        %span ✓
        %span
  %tr
    %td{:colspan => "6"}
      A 'brought to you by' tweet on the day of the event
    %td{:colspan => "3", :valign => "bottom"}
      %p{:align => "center"}
        %span ✓
        %span
    %td{:colspan => "3", :valign => "bottom"}
      %p{:align => "center"}
        %span ✓
        %span
    %td{:valign => "bottom"}
      %p{:align => "center"}
        %span ✕
        %span
  %tr
    %td{:colspan => "6"}
      %p
        %span
    %td{:colspan => "3"}
      %p
        %span
    %td{:colspan => "3"}
      %p
        %span
    %td{:width => "81"}
      %p
        %span
  %tr
    %td{:colspan => "13"}
      %p{:align => "center"}
        %b
          %span
            on
            %span the
            %span conference
            %span day
        %span
  %tr
    %td{:colspan => "6"}
      A mention on the conference day
    %td{:colspan => "3", :valign => "bottom"}
      %p{:align => "center"}
        %span ✓
        %span
    %td{:colspan => "3", :valign => "bottom"}
      %p{:align => "center"}
        %span ✓
        %span
    %td{:valign => "bottom"}
      %p{:align => "center"}
        %span ✓
        %span
  %tr
    %td{:colspan => "6"}
      A 5 minute talk before the keynote
    %td{:colspan => "3", :valign => "bottom"}
      %p{:align => "center"}
        %span ✓
        %span
    %td{:colspan => "3", :valign => "bottom"}
      %p{:align => "center"}
        %span ✕
        %span
    %td{:valign => "bottom"}
      %p{:align => "center"}
        %span ✕
        %span
  %tr
    %td{:colspan => "6"}
      Your logo on the conference bag
    %td{:colspan => "3", :valign => "bottom"}
      %p{:align => "center"}
        %span ✓
        %span
    %td{:colspan => "3", :valign => "bottom"}
      %p{:align => "center"}
        %span ✓
        %span
    %td{:valign => "bottom", :width => "81"}
      %p{:align => "center"}
        %span ✓
        %span
  %tr
    %td{:colspan => "6"}
      Items you can distribute in bags
    %td{:colspan => "3"}
      %p{:align => "center"}
        %span
          %b
            %span Unlimited
        %span
    %td{:colspan => "3"}
      %p{:align => "center"}
        %b
          %span 2
        %span
    %td{:width => "81"}
      %p{:align => "center"}
        %b
          %span 1
        %span
  %tr
    %td{:colspan => "6"}
      Conference display stand
    %td{:colspan => "3", :valign => "bottom"}
      %p{:align => "center"}
        %span ✓
        %span
    %td{:colspan => "3", :valign => "bottom"}
      %p{:align => "center"}
        %span ✕
        %span
    %td{:valign => "bottom"}
      %p{:align => "center"}
        %span ✕
        %span
  %tr
    %td{:colspan => "6"}
      Banner in main conference space
    %td{:colspan => "3"}
      %p{:align => "center"}
        %b
          %span Large
        %span
    %td{:colspan => "3"}
      %p{:align => "center"}
        %b
          %span Medium
        %span
    %td{:valign => "bottom"}
      %p{:align => "center"}
        %span ✕
        %span
  %tr
    %td{:colspan => "6"}
      Space to distribute freebies
    %td{:colspan => "3", :valign => "bottom"}
      %p{:align => "center"}
        %span ✓
        %span
    %td{:colspan => "3", :valign => "bottom"}
      %p{:align => "center"}
        %span ✓
        %span
    %td{:valign => "bottom"}
      %p{:align => "center"}
        %span ✓
        %span
