%h1 Blog

- blog.articles[0...20].each do |article|
  %h3
    %time= article.date.strftime('%e %b %Y')
    %h1= link_to article.title, article.url
    %p=  article.summary
    %p=  link_to 'read more',   article.url
