%section#teaser
  %h1 eurucamp
  #centralimage
    = image_tag 'teaser.png'
  #twitter
    %a{:href=>"http://twitter.com/#!/eurucamp"}
      %img{:src=>"images/twitter.png"}
  %h2 eurucamp | European Ruby Conference &amp; Camp | Summer Edition

  %h3 Coming back in Berlin, August 2012
