!!! 5
- ie_html :lang => 'en', :class => 'no-js' do
  %head
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %title eurucamp Berlin 2012 | coming in August
    %meta(content="" name="description")
    %meta(content="" name="author")
    %meta(content="width=device-width, initial-scale=1.0" name="viewport")

    %link(href="favicon.png" rel="shortcut icon")

    %link(href="stylesheets/style.css?v=2" rel="stylesheet")

    = javascript_include_tag 'http://use.typekit.com/snt3fzj.js'
    :javascript
      try{Typekit.load();}catch(e){}

  %body
    #main(role="main")
      %header#header

      #content
        = yield

      %footer#footer

        = partial 'partials/analytics'
